{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="12u">
		<!-- Page specific header -->
		<!-- picture -->
		<div>
			{% if article.picture is defined %}
			<a href="#" class="image image-full"><img src="{{ article.picture }}"/></a>
			{% endif %}
		</div>

		<!-- title -->
		<div  class="12u", style="padding-top: 1em; padding-bottom: 1em;">
			<section class = "box">
				<hr class="title">
					<h1 align="center"> {{article.title}} </h1>
				<hr class="title">
			</section>
		</div>

		<!-- Portfolio -->
		<!-- Content -->
		<section>
			<div>
				<div class="12u skel-cell-mainContent">
					<!-- Content -->
						<article class="box is-post">
							{{ article.content }}
						</article>
					</div>
				</div>
			</div>
		</section>

		<!-- Tag news feed -->
		<!-- Title -->
		<div class="12u", style="padding-top: 1em; padding-bottom: 1em">
			<section class = "box">
				<hr class="title2">
					<h2 align="center"> Latest {{article.title}} blog</h2>
				<hr class="title2">
			</section>
		</div>
		<!-- Articles -->
		<div class="12u">
		    <section>
				{% set n = 0 %}
				{% for article in articles if n < 3 %}
					{% if article.tag == article.title %}
						{% set n = n + 1 %}
						<div class="4u", style = "padding-right:1em;">
		                    <section class="box">
		                        {% if article.picture is defined %}
		                        <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full"><img src="{{ article.picture }}" alt=""/></a>
		                        {% endif %}
		                        <header>
		                            <hr>
		                            <h2>{{article.title }}</h2>
									<span class="byline" align = "center">{{ article.date|strftime('%d') }}
										                 {{ article.date|strftime('%B') }}
														 {{ article.date|strftime('%Y') }}</span>
		                            <hr>
		                        </header>
		                        {{ article.summary }}
		                        <footer class="actions">
		                            <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">Continue Reading</a>
		                        </footer>
		                    </section>
		                </div>
			        {% endif %}
		        {% endfor %}
		    </section>
		</div>
		<!-- More... -->
		<p class="paginator">
			<a href="{{ SITEURL }}/category/{{ article.url[6:] }}"> More {{ article.name }} posts here . . . </a>
		</p>
		<!-- End Tag news feed -->
	</div>
</div>

{% endblock %}
