{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="12u">
		<section>
			<div>
				<div class="row">
					<div class="12u skel-cell-mainContent">
						<!-- Content -->
							<article class="box is-post">
								{% if article.picture is defined %}
								<div class="image image-head"><img src="{{ article.picture }}"/><a href="{{ article.picturecopyrights }}" class="img-copy">{{ article.picturecopyrights }}</a></div>
								{% endif %}
								<div class="post-infos">
									<ul class="tags">
										{% if article.category %}
										<li><a class="button" href="pages/{{ article.category.url[9:] }}">{{ article.category|capitalize }}</a></li>
										{% endif %}
										{% for tag in article.tags %}
											{% if tag|string() != article.category|string() %}
												<li><a class="button button-alt" href="{{ tag.url }}">{{ tag|capitalize }}</a></li>
												<br>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
								<hr class="title2">
								<h2>{{ article.title }}</h2>
								<hr class="title2">
								{{ article.content }}
							</article>
							{% include 'disqus_script.html' %}
					</div>
				</div>
			</div>
		</section>


		<!-- Tag news feed -->
		<!-- Title -->
		<div class="12u", style="padding-top: 1em; padding-bottom: 1em">
			<section class = "box">
				<hr class="title2">
					<h2 align="center"> Latest {{article.title}} blog</h2>
				<hr class="title2">
			</section>
		</div>
		<!-- Articles -->
		<div class="12u">
			<section>
				{% set n = 0 %}
				{% for articleX in articles if n < 3 %}
					{% set test = [] %}
					{% for tag in articleX.tags %}
						{% if tag == article.title %}
							{% if test.append(True) %} {% endif %}
							<div class="4u", style = "padding-right:1em;">
								<section class="box">
									{% if articleX.picture is defined %}
									<a href="{{ SITEURL }}/{{ articleX.url }}" class="image image-full"><img src="{{ articleX.picture }}" alt=""/></a>
									{% endif %}
									<header>
										<hr>
										<h2>{{articleX.title }}</h2>
										<span class="byline" align = "center">{{ articleX.date|strftime('%d') }}
															{{ articleX.date|strftime('%B') }}
															{{ articleX.date|strftime('%Y') }}</span>
										<hr>
									</header>
									{{ articleX.summary }}
									<footer class="actions">
										<a href="{{ SITEURL }}/{{ articleX.url }}" class="button button-icon button-icon-1">Continue Reading</a>
									</footer>
								</section>
							</div>
						{% endif %}
					{% endfor %}
					{% if test %}
						{% set n = n + 1 %}
					{% endif %}
				{% endfor %}
			</section>
		</div>
		<!-- More... -->
		<p class="paginator">
			<a href="{{ SITEURL }}/tag/{{ article.url }}"> More {{ article.name }} posts here . . . </a>
		</p>
		<!-- End Tag news feed -->
	</div>
</div>


{% endblock %}
